<nav class="barraNav">
	<div class="menuBedev" onclick="Menu()">
		<img src="/public/img/imagens/menu.png" alt="" class="image_menu">
	</div>

	<a class="barraBedev" href="/">
		BeDev
	</a>

	<div class="vazia">

	</div>
</nav>