<!--
	Barra padrão do Bootstrap

	https://getbootstrap.com/docs/4.6/components/navbar/
-->

<nav class="barraNav">

	<img src="/public/img/imagens/Burgewr.png" alt="" class="menu">

	<a class="barraBedev" href="/">
		BeDev
	</a>

	<img src="/public/img/imagens/Burgewr.png" alt="" class="menuInv">

</nav>