<nav class="barraNav">

	<img src="/public/img/imagens/Burgewr.png" alt="" class="menu">

	<a class="barraBedev" href="/">
		BeDev
	</a>

	<img src="/public/img/imagens/Burgewr.png" alt="" class="menuInv">

</nav>