<div id="menu_content">
    <div class="beDev">
        <h2>BeDev</h1>
            <a href="/">
                <p>Página Inicial</p>
            </a>
            <a href="/sobrenos">
                <p>Sobre nós</p>
            </a>
    </div>

    <hr>

    <div class="conta_beDev">
        <h2>Sua conta</h2>
        <a href="/perfil">
            <p>Perfil</p>
        </a>
        <a href="/feed">
            <p>Feed</p>
        </a>
    </div>
</div>