@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Inter', sans-serif;
}

/* Landing */

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
}

.header__content {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.header__title {
    margin: 0;
}

.header__subtitle {
    margin: 0;
}

.intro {
    display: flex;
}

.intro__image {
    width: 60%;
    display: flex;
    justify-content: end;
}

.intro__content {
    /* Conteiner com o texto */
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 2rem;
    width: 40%;
    margin: 120px 0;
}

.intro__title {
    font-size: 1.2rem;
    margin: 0;
    color: #6C6C6C;
}

.intro__heading {
    font-size: 3rem;
    margin: 0;
}

.intro__text {
    font-size: 1rem;
    margin: 20px 0;
}

.intro__button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.intro__button:hover {
    background-color: #1C1C1C;
}

.diferencial {
    background-color: #000000;
    padding: 6rem;
    margin: 0;
    display: flex;
    justify-content: center;
}

.diferencial__content {
    text-align: center;
    width: 50%;
    color: white;
}

.diferencial__title {
    font-size: 2.5rem;
    margin: 0;
}

.diferencial__text {
    font-size: 1.2rem;
    margin: 0;
}

.diferencial__box {
    background-color: #fff;
    padding: 15rem;
    margin: 20px 0;
}

.diferencial__button {
    margin: 20px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

.diferencial__button:hover {
    background-color: #E5E5E5;
}

.beneficios {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 4rem;
    height: 100vh;
}

.beneficios__content {
    display: flex;
    flex-direction: column;
}

.beneficios__content.right {
    width: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.beneficios__title {
    font-size: 2.2rem;
    margin: 20px 0;
}

.beneficios__cards {
    display: flex;
    gap: 10px;
}

.beneficios__cards.right {
    display: flex;
    justify-content: end;
}

.beneficios__card {
    padding: .2rem;
    width: 10%;
}

.card__title {
    margin: 10px 0;
}

.card__text {
    margin: 0;
}