@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Inter', sans-serif;
}

/* Barra */

.barraNav {
    background-color: black;
    height: 64px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
    align-self: center;
    align-content: center;
}

.barraBedev {
    color: white;
    font-size: 20px;
    font-weight: bold;

    text-align: center;
}

.barraBedev:hover {
    color: white;
    text-decoration: none;
}

.menu,
.menuInv {
    width: 20px;
    height: 12px;

    margin: 0 0;
    padding: 0 0;

    margin: 1.5rem;
}

.menu {
    cursor: pointer;
}

.menuInv {
    visibility: hidden;
}

/* Landing */

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
}

.header__content {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.header__title {
    margin: 0;
}

.header__subtitle {
    margin: 0;
}

.intro {
    display: flex;

}

.intro__image {
    width: 60%;
    display: flex;
    justify-content: end;
}

.intro__image img {
    /* Conteiner com a imagem */
    width: 80%;

}

.intro__content {
    /* Conteiner com o texto */
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 2rem;
    width: 40%;
    margin: 120px 0;
}

.intro__title {
    font-size: 1.2rem;
    margin: 0;
    color: #6C6C6C;
}

.intro__heading {
    font-size: 3rem;
    margin: 0;
}

.intro__text {
    font-size: 1rem;
    margin: 20px 0;
}

.intro__button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.intro__button:hover {
    background-color: #1C1C1C;
}

.diferencial {
    background-color: #000000;
    padding: 6rem;
    margin: 0;
    display: flex;
    justify-content: center;
}

.diferencial__content {
    text-align: center;
    width: 50%;
    color: white;
}

.diferencial__title {
    font-size: 2.5rem;
    margin: 0;
}

.diferencial__text {
    font-size: 1.2rem;
    margin: 0;
}

.diferencial__box {
    background-color: #fff;
    padding: 15rem;
    margin: 20px 0;
}

.diferencial__button {
    margin: 20px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

.diferencial__button:hover {
    background-color: #E5E5E5;
}

.beneficios {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 4rem;
    height: 100vh;
}

.beneficios__content {
    display: flex;
    flex-direction: column;
}

.beneficios__content.right {
    width: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.beneficios__title {
    font-size: 2.2rem;
    margin: 20px 0;
}

.beneficios__cards {
    display: flex;
    gap: 10px;
}

.beneficios__cards.right {
    display: flex;
    justify-content: end;
}

.beneficios__card {
    background-color: red;
    width: 10%;
}

.card__title {
    margin: 10px 0;
}

.card__text {
    margin: 0;
}

/* Media queries para diferentes dispositivos */

/* Celular */
@media only screen and (max-width: 600px) {
    .intro {
        flex-direction: column;
    }

    .intro__image {
        display: none;
    }

    .intro__content {}

    .diferencial {
        padding: 3rem;
    }

    .diferencial__content {
        width: 100%;
    }

    .diferencial__box {
        padding: 5rem;
    }

    .beneficios {
        padding: 2rem;
    }

    .beneficios__cards {
        flex-direction: column;
    }

    .beneficios__card {
        width: 10%;
        background-color: red;
    }
}

/* Cadastro */

#cadastro,
#login,
#sobrenos,
.containerCad,
.containerLgn,
.containerSobreNos,
.containerEquipe,
.coluna1,
.limitador {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    align-self: center;
    align-content: center;
}

.containerLgn {
    width: 50%;
}

#login {
    flex-direction: row;
}

.titulo2,
.titulo2L {
    margin: 10px 0px 10px 0px;
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
}

.registro,
.login_texto {
    text-align: center;
    font-size: large;
    margin: 0;
}

.pequeno {
    text-align: center;
    font-size: 10px;
    color: rgb(142, 134, 134);
    font-weight: 300;

    margin: 0;
    margin: .3rem 0rem;
}

.linkLogin,
.linkEntrarCad {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;

    align-items: center;
    align-content: center;
    align-self: center;

    margin: 0 0;
    padding: 0 0;
    max-width: max-content;
}

.linkLogin:hover {
    text-decoration: none;
}

.linkLogin:hover>button>.github {
    scale: 1.05;
}

.linkLogin:hover>button {
    font-weight: 600;
}

.texto1,
.texto2 {
    font-size: small;
    color: rgb(82, 82, 82);

    text-align: center;
    margin: 28px 16px 24px 16px;
}

.clique {
    color: black;
    font-weight: 600;
    text-decoration: underline;
}

.clique:hover {
    color: black;
}

.github {
    margin: 0;
    margin-right: 0.5rem;
    padding: auto;
}

.botao2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;

    width: 210px;
    height: 30px;
    color: white;
    background-color: black;
    border: 0px;

    border-radius: 5px;
    padding: 2px 5px 2px 5px;

    font-size: small;

}

.campos {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    align-self: center;
    align-content: center;

    margin: 1.5rem;
    margin-top: 0rem;
}

.caixoteCad1,
.caixoteCad2 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    align-self: center;

    width: 375px;
}

.caixoteCad1 {
    flex-direction: row;
    justify-content: space-between;
}

.caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 0;
    padding: 0 0;
}

.labelCampo {
    font-size: small;
    text-align: left;

    align-items: start;
    align-self: self-start;
    align-content: start;

    margin: .2rem 0;
}

.senhaEspaco {
    width: 375px;
    position: relative;
}

.fa-eye {
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
}

#nomeUser,
#sobrenomeUser,
#emailUser,
#senhaUser {
    border-radius: 5px;
    border: solid 1.5px rgba(176, 175, 175, 1);
    background-color: rgb(244, 244, 244);
    padding: 16px 4px;

    margin-bottom: .5rem;
}

#nomeUser {
    width: 143px;
    height: 25px;
}

#sobrenomeUser {
    width: 208px;
    height: 25px;
}

#emailUser,
#senhaUser {
    width: 100%;
    height: 25px;
}

.quadro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 375px;
}

.requisitos {
    font-size: 10px;
    color: rgb(142, 134, 134);
    text-align: left;

    margin: 0 0;
    margin-bottom: .1rem;
}

.linkEntrarCad:hover {
    text-decoration: none;
}

.botoesCad {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    align-self: center;
    align-content: center;

    margin: 0rem 0rem;

    max-width: 100%;
}

.botaoCad {
    align-items: center;
    align-self: center;

    width: 375px;

    font-size: small;
    font-weight: 500;
    color: white;
    background-color: black;
    border: 0px;
    border-radius: 5px;
    text-decoration: none;

    margin: 10px 0px 10px 0px;
    padding: 0.35rem 0.5rem;
}

.botaoCad:hover {
    scale: 1.05;
}

.voltarCad {
    font-size: 10px;
    text-decoration: none;
    color: rgb(142, 134, 134);

    text-align: center;
    margin: 0px 0px;

    align-self: center;
    align-items: center;

    display: flex;
}

.voltarCad:hover {
    color: rgb(142, 134, 134);
    text-decoration: underline;
}

.preto2 {
    background-color: black;
    margin: 0 0;
    padding: 0 0;

    align-items: center;
    align-self: center;
}

/* Login */

.login_texto {
    padding: 0 0;
}

.texto2 {
    margin: 0px 0px;
    margin: .5rem .5rem 2rem .5rem;

    padding: 0px 0px;
}

.esqSenha {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 12px;
    color: rgb(142, 134, 134);

    margin: 0 0;
    margin-top: -5px;

    width: 375px;
}

.esqSenha>p {
    margin: 0 0;
    text-align: right;

    padding: 0 0;
    padding-bottom: 1rem;
}

.clicavel {
    cursor: pointer;
}

.preto {
    background-color: black;
    margin: 0 0;
    padding: 0 0;

    align-items: center;
    align-self: center;

    height: 89.4vh;
    width: 50vw;
}

/* Sobre nós */

.containerSobreNos,
.containerEquipe {
    min-height: 100vh;

    align-items: center;
    align-self: center;
    align-content: center;
}

.secaoSnos,
.secaoNobj,
.secaoTlEq {
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
    align-self: center;
    align-content: center;
}

.branco,
.brancoL {
    height: 64px;
    width: 100%;
}

.secaoNobj {
    flex-direction: row-reverse;
}

.equipeSecao {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    align-self: center;
    align-content: center;
}

.placa1,
.texto1Sobr,
.placa2,
.texto1Obj {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    align-self: center;
    align-content: center;

    margin: 20px 0px;
}

.placa1,
.placa2 {
    margin: 1rem 1.5rem;
}

.texto1Sobr,
.texto1Obj {
    margin-top: 24px;
    margin-bottom: 28px;
}

.tituloSobre,
.tituloNos,
.tituloNosso,
.tituloObj {
    background-color: #000000;
    color: #ffffff;
    padding: .5rem 1rem;
    text-align: center;
    transform: rotate(358deg);
    border-radius: .5rem;

    font-size: 28px;
    font-weight: 600;

    margin: 0;

    align-items: center;
    align-self: center;
    align-content: center;
}

.tituloNos,
.tituloObj {
    width: 12rem;
}

.tituloSobre,
.tituloNosso {
    background-color: #ffffff00;
    color: #000000;
    transform: rotate(0);
    font-size: 32px;
    font-weight: 600;
    padding: .5rem 0rem;
    padding-top: 0;
}

.grampo1 {
    background-color: rgba(217, 217, 217, 1);
    height: 1rem;
    width: 0.25rem;
    position: absolute;
    left: 2rem;
    top: -.5rem;
    transform: rotate(2deg);
}

.grampo2 {
    background-color: rgba(217, 217, 217, 1);
    height: 1rem;
    width: 0.25rem;
    position: absolute;
    right: 2rem;
    top: -.5rem;
    transform: rotate(2deg);
}

.textoSobreNos,
.textoNossoObj {
    margin: 0;
    font-weight: 600;

    font-size: small;
    text-align: justify;
    max-width: 800px;

    padding: 8px 16px;
}

.nossaEQP {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 24px 8px 76px 8px;
}

.integrante1,
.integrante2 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    align-self: center;
    align-content: center;

    padding: 4px 64px;
}

.integrante2 {
    margin-top: 24px;
}

.integranteInv {
    width: 110px;
    visibility: hidden;
}

.equipe {
    width: 80px;
    border-radius: 100px;
    margin-bottom: .5rem;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    align-items: center;
    align-self: center;
    align-content: center;

    width: 80px;
}

.integrante1>p,
.integrante2>p {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    margin-bottom: .5rem;
}

.linkRede {
    width: 50%;
    height: 50%;

    margin: 0;
    padding: 0;

    color: black;

    text-align: center;
    width: 20px;
}

.img_Linke,
.img_Insta {
    width: 100%;
    height: 100%;

    margin: 0 0;
    padding: 0 0;
}

.limitadorEQ {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* RODAPÉ */

.rodape {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 2rem;
}

.link-rodape,
.link-rodape:hover {
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    /* Landing */

    .intro__image {
        width: 100%;
    }

    .intro__content {}

    .diferencial {
        padding: 4rem;
    }

    .diferencial__content {
        width: 70%;
    }

    .diferencial__box {
        padding: 10rem;
    }

    .beneficios {
        padding: 3rem;
    }

    .beneficios__card {
        width: 10%;
        background-color: red;
    }

    /* Cadastro */

    .caixoteCad1 {
        flex-direction: column;
        justify-content: center;
    }

    .caixa {
        width: 100%;
    }

    #nomeUser,
    #sobrenomeUser {
        width: 100%;
    }

    .preto2,
    .preto {
        display: none;
    }

    /* Login */

    #login,
    #cadastro {
        width: 100%;
        height: 100vh;
    }

    .containerLgn {
        width: 100%;
    }

    .login_texto {
        padding: 1rem;
    }

    #login {
        flex-direction: column;
    }

    /* Sobre nós */

    .containerSobreNos,
    .containerEquipe {
        height: 100%;
    }

    .secaoSnos,
    .secaoNobj,
    .secaoTlEq {
        flex-direction: column;
    }

    .nossaEQP {
        padding: 8px 8px 24px 8px;
    }

    .limitadorEQ {
        flex-direction: column;
    }

    .integrante1,
    .integrante2 {
        padding: 12px 8px;
    }

    .branco {
        display: none;
    }
}

/* TV */
@media only screen and (min-width: 1025px) {
    .intro__image {
        width: 40%;
    }

    .intro__content {}

    .diferencial {
        padding: 6rem;
    }

    .diferencial__content {
        width: 50%;
    }

    .diferencial__box {
        padding: 15rem;
    }

    .beneficios {
        padding: 4rem;
    }

    .beneficios__card {
        width: 10%;
        background-color: red;
    }
}