@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
     margin: 0 auto;
     padding: 0 auto;
     font-family: 'Inter', sans-serif;
}

.feed_page {
     height: 100vh;
     padding: 1rem 0;
}

.feed_body {
     height: fit-content;
     padding-bottom: 10rem;
}

.feed_box {
     display: flex;
     width: 50%;
     height: fit-content;
     padding: 1rem;
     margin: 0 auto;
     border: 2px solid whitesmoke;
     border-radius: 2px;
}

.feed_box-header {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 20%;
}

.feed_box-body {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: fit-content;
}

.feed_box-textarea {
     width: 100%;
     height: 50%;
}

.feed_box-textarea textarea {
     width: 100%;
     height: 100%;
     padding: 1rem;
     resize: none;
     border: none;
     font-size: 1rem;
     font-weight: 500;
     font-family: 'Inter', sans-serif;
     border-radius: 8px;
     box-sizing: border-box;
}

.feed_box-buttons {
     display: flex;
     justify-content: end;
     align-items: center;
     width: 100%;
     padding: 1rem 0;
}

.feed_box-buttons--functions {
     width: 80%;
}

.feed_box-buttons--criar {
     width: 20%;
}

.feed_box-buttons--criar button {
     width: 100%;
}

.icon {
     width: 80px;
     height: 80px;
     border-radius: 100%;
     object-fit: cover;
     object-position: center;
}

.feed_box-title {
     font-size: 12px;
     font-weight: 600;
     padding: 1rem 0;
     word-break: break-all;
}

.feed-button {
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     background-color: #000000;
     color: #fff;
     font-size: 1rem;
     cursor: pointer;
}

.feed-button:hover {
     background-color: #202020;
     color: #fff;
}

.feed-button.label {
     background-color: transparent;
     font-size: 1rem;
     cursor: pointer;
}

.feed-button.label:hover {
     background-color: #e4e4e4;
     color: #000;
}


#choose-image {
     display: none
}

.imagem-preview {
     width: 100%;
     margin-top: 1rem;
}

.imagem-list {
     display: flex;
     flex-wrap: wrap;
     list-style: none;
     padding: 0;
}

.imagem-choosed {
     margin: 0;
     padding: 0;
     background-color: aqua;
     display: flex;
     justify-content: center;
     align-items: center;
}

.imagem-choosed img {
     max-width: 150px;
     max-height: 150px;
}

.post {
     width: 50%;
     padding: 1rem;
     border-radius: 8px;
     height: fit-content;
     border: 2px solid whitesmoke;
     margin-top: 1rem;
}

.post_header {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
}

.post_header-box {
     width: 50%;
     display: flex;
     flex-direction: row;
     align-items: center;
}

.post_header-boxData {
     width: 50%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: end;
}

.post_header-icon {
     width: 30px;
     height: 30px;
     border-radius: 100%;
     object-fit: cover;
     object-position: center;
}

.post_header-title {
     width: 85%;
     font-size: 13px;
     font-weight: 600;
     word-break: break-all;
}

.post_header-data {
     width: 90%;
     font-size: 10px;
     font-weight: 600;
     padding: 1rem 0;
     word-break: break-all;
     text-align: right;
}

.post_Header-remove {
     background-color: transparent;
     border: none;
     cursor: pointer;
}

.post_body {
     padding: 1rem;
}

.post_text {
     font-size: 12px;
     font-weight: 600;
     margin-bottom: .5rem;
     word-break: break-all;
}

.post_text:empty {
     padding: 0;
}

.post_image {
     box-sizing: border-box;
     width: 100%;
}

.post_image__img {
     box-sizing: border-box;
     width: 100%;
     height: 25rem;
     object-fit: cover;
     border-radius: 12px;
     transition: height 500ms ease-in-out;
     overflow: hidden;
}

.post_image__img:hover {
     height: auto;
     z-index: 100;
     transition: height 500ms ease-in-out;
}

.post_footer-likesCount {
     margin-left: 1rem;
     font-size: 10px;
     font-weight: 600;
     padding: .2rem 0;
     word-break: break-all;
}

.post_footer-like {
     background-color: transparent;
     border: none;
     cursor: pointer;
     transition: all 200ms ease-in;
}

.post_footer-like:hover {
     transition: all 200ms ease-in;
     transform: scale(1.2);
}


.post_footer-like {
     background-color: transparent;
     border: none;
     cursor: pointer;
}

.post_footer-like:hover {
     scale: 1.2;
}

.post_Header-remove.disable {
     opacity: 0;
     cursor: default;
     z-index: -1;
}

.post_comments {
     display: flex;
     flex-direction: column;
}

.post_comments_area {
     width: 100%;
}

.post_comments__input {
     width: 100%;
     height: 100%;
     resize: none;
     border: none;
     margin-top: 1rem;
     padding: .5rem;
     font-size: 13px;
     font-weight: 500;
     font-family: 'Inter', sans-serif;
     border-radius: 8px;
     box-sizing: border-box;

}

.post_comments__container {
     width: 100%;
     margin-top: 1rem;
     padding: 0 1.5rem;
}

.post_comments__box {
     width: fit-content;
     display: flex;
     flex-direction: column;
     margin: 0;
}

.post_comments__header {
     box-sizing: border-box;
     padding: .2rem;
     width: 100%;
     display: flex;
     align-items: center;
}

.post_comments__icon {
     width: 15px;
     height: 15px;
     border-radius: 100%;
     margin: 0;
}

.post_comments__title {
     width: fit-content;
     font-size: 13px;
     font-weight: bold;
     word-break: break-all;
     margin-left: .4rem;
}

.post_comments__text {
     width: 90%;
     text-align: left;
     font-size: 12px;
     font-weight: 600;
     padding: .2rem 0;
     margin: 0;
     word-break: break-all;
}

.post_comments__noComments {
     font-size: 12px;
     font-weight: 600;
     padding: .2rem 0;
     word-break: break-all;
     text-align: center;

}

/* Responsividade Celular */

@media (max-width: 768px) {
     .feed_box {
          width: 90%;
     }

     .post {
          width: 90%;
     }
}

@media (max-width: 425px) {
     .feed_box {
          width: 100%;
     }

     .post {
          width: 100%;
     }
}

@media (max-width: 375px) {
     .feed_box {
          width: 100%;
     }

     .post {
          width: 100%;
     }
}

@media (max-width: 320px) {
     .feed_box {
          width: 100%;
     }

     .post {
          width: 100%;
     }
}