<div id="cadastro">
	<div class="container_cadastro">
		<div class="conteiner_cadastro__form">
			<div class="conteiner_form__details">
				<h1 class="conteiner_details__title">BeDev</h1>
				<h3 class="conteiner_details__heading">Faça seu cadastro</h3>
				<p class="conteiner_details__info">
					Caso possua conta, <a href="login">clique aqui</a> para se logar
				</p>
			</div>
			<form class="form_cad">
				<h5>Informações básicas</h5>
				<div class="form_group__list">
					<div class="form_group">
						<label for="nome" class="form_group__label">Nome</label>
						<input type="text" class="form_group__input" id="nome" name="nome" required>
					</div>
					<div class="form_group">
						<label for="apelido" class="form_group__label">Apelido</label>
						<input type="text" class="form_group__input" id="apelido" name="apelido" required>
					</div>
					<div class="form_group">
						<label for="idade" class="form_group__label">Idade</label>
						<input type="text" class="form_group__input" id="idade" name="idade" required>
					</div>
				</div>
				<div class="form_group">
					<label for="email" class="form_group__label">Email</label>
					<input type="text" class="form_group__input" id="email" name="email" required>
				</div>
				<div class="form_group__list">
					<div class="form_group">
						<label for="senha" class="form_group__label">Senha</label>
						<input type="password" class="form_group__input" id="senha" name="senha" required>
					</div>
					<div class="form_group">
						<label for="confirmarSenha" class="form_group__label">Confirmar senha</label>
						<input type="password" class="form_group__input" id="confirmarSenha" name="confirmarSenha"
							required>
					</div>
				</div>
				<div class="form_group__checkbox">
					<div class="form_checkbox__box">
						<input type="checkbox" class="form_group__input" id="anonimo" name="anonimo" required>
						<label for="anonimo" class="form_group__label">Gostaria de ficar anônimo</label>
					</div>
					<div class="form_checkbox__box">
						<input type="checkbox" class="form_group__input" id="termosDeUso" name="termosDeUso">
						<label for="termosDeUso" class="form_group__label">Aceito os termos de uso</label>
					</div>
				</div>
				<div class="form_cad__buttons">
					<button>Cadastrar</button>
					<a href="/login" class="voltarCad">Voltar</a>
				</div>
		</div>
		</form>
	</div>


</div>

</div>

<footer class="preto2"></footer>
</div>

<script>
	const form = document.querySelector('.containerCad form');

	form.addEventListener('submit', (e) => {
		e.preventDefault();

		const nome = document.getElementById('nomeUser').value;
		const sobrenome = document.getElementById('sobrenomeUser').value;
		const email = document.getElementById('emailUser').value;
		const senha = document.getElementById('senhaUser').value;

		const data = {
			nome: nome,
			sobrenome: sobrenome,
			email: email,
			senha: senha
		};

		fetch('http://localhost:3000/user/create', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(data)
		})
			.then(response => {
				if (response.ok) {
					alert('Usuário criado com sucesso!');
				} else {
					alert('Houve um erro ao criar o usuário.');
				}
			})
			.catch(error => {
				alert('Houve um erro ao criar o usuário:', error);
			});
	});

</script>