<div id="cadastro">
	<div class="container_cadastro">
		<div class="conteiner_cadastro__form">
			<div class="conteiner_form__details">
				<h1 class="conteiner_details__title">BeDev</h1>
				<h3 class="conteiner_details__heading">Faça seu cadastro</h3>
				<p class="conteiner_details__info">
					Caso possua conta, <a href="login">clique aqui</a> para se logar
				</p>
			</div>
			<form class="form_cad" id="form_cad">
				<h5>Informações básicas</h5>
				<div class="form_group__list">
					<div class="form_group">
						<label for="nome" class="form_group__label">Nome</label>
						<input type="text" class="form_group__input" id="nome" name="nome" required>
					</div>
					<div class="form_group">

						<label for="apelido" class="form_group__label">Usuário</label>
						<input type="text" class="form_group__input" id="apelido" name="apelido" required>

					</div>
					<div class="form_group buttons">
						<button onclick="gerarApelido()">🔁</button>
					</div>

					<div class="form_group">
						<label for="idade" class="form_group__label">Idade</label>
						<input type="number" class="form_group__input" id="idade" name="idade" required min="16"
							max="100">
					</div>
				</div>
				<div class="form_group">
					<label for="email" class="form_group__label">Email</label>
					<input type="text" class="form_group__input" id="email" name="email" required>
				</div>
				<div class="form_group__list">
					<div class="form_group">
						<label for="senha" class="form_group__label">Senha</label>
						<input type="password" class="form_group__input" id="senha" name="senha" required>
					</div>
				</div>
				<div class="form_group__checkbox">
					<div class="form_checkbox__box">
						<input type="checkbox" class="form_group__input" id="anonimo" name="anonimo">
						<label for="anonimo" class="form_group__label">Gostaria de ficar anônimo</label>
					</div>
					<div class="form_checkbox__box">
						<input type="checkbox" class="form_group__input" id="termosDeUso" name="termosDeUso">
						<label for="termosDeUso" class="form_group__label">Aceito os termos de uso</label>
					</div>
				</div>
				<div class="form_cad__buttons">
					<button>Cadastrar</button>
					<a href="/login" class="voltarCad">Voltar</a>
				</div>
		</div>
		</form>
	</div>


</div>

</div>

<footer class="preto2"></footer>
</div>
<script>
	const form = document.getElementById('form_cad')

	form.addEventListener('submit', (e) => {
		e.preventDefault();
		const nome = document.getElementById('nome').value;
		const user = document.getElementById('apelido').value;
		const idade = document.getElementById('idade').value;
		const email = document.getElementById('email').value;
		const senha = document.getElementById('senha').value;

		const isAnonimo = document.getElementById('anonimo').checked;
		const isTermosDeUso = document.getElementById('termosDeUso').checked;

		const data = {
			name: nome,
			user: user,
			isAnonimo: isAnonimo,
			idade: idade,
			email: email,
			password: senha,
			isVerified: 0,
		};

		if (!isTermosDeUso) {
			alert('Você precisa aceitar os termos de uso para se cadastrar.');
			return;
		}


		fetch('http://localhost:3000/user/create', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(data)
		})
			.then(response => {
				if (response.ok) {
					alert('Usuário criado com sucesso!');
					window.location.href = '/login';
				} else {
					alert('Houve um erro ao criar o usuário.');
				}
			})
			.catch(error => {
				alert('Houve um erro ao criar o usuário:', error);
			});

	})

	function gerarApelido() {
		fetch('http://localhost:3000/user/gerarAnonimo', {
			method: 'GET',
			headers: {
				'Content-Type': 'application/json'
			}
		})
			.then(response => {
				if (response.ok) {
					return response.json();
				} else {
					throw new Error('Houve um erro ao gerar o apelido.');
				}
			})
			.then(resp => {
				console.log('Apelido gerado com sucesso! ', resp);
				document.getElementById('apelido').value = resp;
				data.user = resp;
				console.log(resp);
			})
			.catch(error => {
				console.error(error);
			});
	}



	console.log(document.getElementById('apelido').value)

</script>