<header class="header">
    <div class="header__content">
         <h1 class="header__title">BeDev</h1>
         <p class="header__subtitle">A social for devs</p>
    </div>
</header>
<section class="intro">
    <div class="intro__content">
         <h2 class="intro__title">A social midia for developers</h2>
         <h1 class="intro__heading">Fun with photos</h1>
         <p class="intro__text">
              Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem
              sendo utilizado desde o
              século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer
              um livro de modelos
              de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração
              eletrônica, permanecendo
              essencialmente inalterado.
         </p>
         <button class="intro__button">Conectar</button>
    </div>
    <div class="intro__image">
         <img src="/public/img/imagens/celular.svg" alt="Celular" loading="lazy" />
    </div>
</section>
<section class="diferencial">
    <div class="diferencial__content">
         <h1 class="diferencial__title">Como usar o BeDev</h1>
         <p class="diferencial__text">Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore</p>
         <div class="diferencial__box">

         </div>
         <p class="diferencial__text">Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore</p>
         <button class="diferencial__button">Comece agora</button>
    </div>
</section>
<section class="beneficios">
    <div class="beneficios__content">
         <h1 class="beneficios__title">Para programar a felicidade do programador</h1>
         <div class="beneficios__cards">
              <div class="card">
                   <h3 class="card__title">For fun</h3>
                   <p class="card__text">Make a post to brighten up your working day</p>
              </div>
              <div class="card">
                   <h3 class="card__title">For fun</h3>
                   <p class="card__text">Make a post to brighten up your working day</p>
              </div>
              <div class="card">
                   <h3 class="card__title">For fun</h3>
                   <p class="card__text">Make a post to brighten up your working day</p>
              </div>
              <div class="card">
                   <h3 class="card__title">For fun</h3>
                   <p class="card__text">Make a post to brighten up your working day</p>
              </div>
              <div class="card">
                   <h3 class="card__title">For fun</h3>
                   <p class="card__text">Make a post to brighten up your working day</p>
              </div>
         </div>
    </div>
    <div class="beneficios__content right">
         <h1 class="beneficios__title">Tire um descanso do trabalho</h1>

         <div class="beneficios__cards right">
              <div class="card">
                   <h3 class="card__title">For fun</h3>
                   <p class="card__text">Make a post to brighten up your working day</p>
              </div>
              <div class="card">
                   <h3 class="card__title">For fun</h3>
                   <p class="card__text">Make a post to brighten up your working day</p>
              </div>
              <div class="card">
                   <h3 class="card__title">For fun</h3>
                   <p class="card__text">Make a post to brighten up your working day</p>
              </div>
              <div class="card">
                   <h3 class="card__title">For fun</h3>
                   <p class="card__text">Make a post to brighten up your working day</p>
              </div>
              <div class="card">
                   <h3 class="card__title">For fun</h3>
                   <p class="card__text">Make a post to brighten up your working day</p>
              </div>
         </div>
    </div>
</section>