<div id="login">
	<div class="container_login">
		<div class="container_login__form">
			<div class="conteiner_login__details">
				<h1 class="conteiner_details__title">BeDev</h1>
				<h3 class="conteiner_details__heading">Faça login</h3>
				<p class="conteiner_details__info">
					Caso não possua conta, <a href="cadastro" class="clique">clique aqui</a> para se registrar
				</p>
			</div>

			<form id="loginForm" action="/user/login" method="post" class="container_login__formBody">
				<div class="container_formBody__inputs">
					<div class="container_formBody__box">
						<label class="label-campo" for="email">Email</label>
						<input id="emailUser" type="text" name="email" autofocus required>
					</div>
					<div class="container_formBody__box">
						<label class="label-campo" for="senha">Senha</label>
						<div class="senha-espaco">
							<input id="senhaUser" type="password" name="senha" autofocus required>
							<i class="fa-solid fa-eye" id="eye"></i>
						</div>
					</div>
					<a id="lost">Esqueceu sua senha?</a>
				</div>

				<div class="container_formBody__buttons">
					<button type="submit">Entrar</button>
					<a href="/" class="voltar-cadastro">Voltar</a>
				</div>

			</form>
		</div>

	</div>

	<div class="preto">
	</div>
</div>

<script>
	document.getElementById('loginForm').addEventListener('submit', function (e) {
		e.preventDefault();
		const email = document.getElementById('emailUser').value;
		const password = document.getElementById('senhaUser').value;
		console.log("Fui enviado", email, password);

		fetch('http://localhost:3000/user/login', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({ email, password })
		})
			.then(response => {
				if (response.status === 200) {
					response.json().then(data => {
						localStorage.setItem('userInfos', JSON.stringify(data));
						window.location.href = '/feed';
					});
				} else {
					alert('Email ou senha incorretos');
				}
			})
			.catch(error => {
				console.error(error);
			});
	});
</script>