<div id="sobrenos">

	<div class="containerSobreNos">
		<div class="secaoSnos">
			<div class="placa1">

				<h1 class="tituloSobre">Sobre</h1>
				<h1 class="tituloNos">
					<div class="grampo1"></div>
					<div class="grampo2"></div>
					Nós
				</h1>

			</div>
			<div class="texto1Sobr">
				<p class="textoSobreNos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
					aliquam orci metus, ac posuere nisi eleifend non. Vestibulum non fringilla metus. Interdum et
					malesuada fames ac ante ipsum primis in faucibus. Sed imperdiet maximus pulvinar. Phasellus
					turpis sapien, auctor id tincidunt id, convallis dapibus nulla. Fusce molestie eleifend
					imperdiet. Nullam blandit consequat magna, eu ornare eros blandit id. Fusce odio nibh, iaculis
					eu est a, efficitur posuere eros.</p>
			</div>
		</div>

		<div class="branco">

		</div>

		<div class="secaoNobj">

			<div class="placa2">

				<h1 class="tituloNosso">Nosso</h1>
				<h1 class="tituloObj">
					<div class="grampo1"></div>
					<div class="grampo2"></div>
					Objetivo
				</h1>

			</div>
			<div class="texto1Obj">
				<p class="textoNossoObj">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
					aliquam orci metus, ac posuere nisi eleifend non. Vestibulum non fringilla metus. Interdum et
					malesuada fames ac ante ipsum primis in faucibus. Sed imperdiet maximus pulvinar. Phasellus
					turpis sapien, auctor id tincidunt id, convallis dapibus nulla. Fusce molestie eleifend
					imperdiet. Nullam blandit consequat magna, eu ornare eros blandit id. Fusce odio nibh, iaculis
					eu est a, efficitur posuere eros.</p>
			</div>
		</div>
	</div>

	<div class="containerEquipe">
		<div class="secaoTlEq">
			<h1 class="nossaEQP">NOSSA EQUIPE</h1>
		</div>

		<div class="equipeSecao">
			<div class="limitadorEQ">
				<div class="integrante1">
					<img src="/public/img/imagens/felipe.png4.jpg" alt="" class="equipe">
					<p>Felipe Lira</p>
					<div class="redes">
						<a href="https://www.linkedin.com/in/felipe-lira-286704265/" target="_blank" class="linkRede">
							<img src="/public/img/imagens/linke.png" alt="" class="img_Linke">
						</a>
						<a href="https://www.instagram.com/_felipl/" target="_blank" class="linkRede">
							<img src="/public/img/imagens/instagram.png" alt="" class="img_Insta">
						</a>
					</div>
				</div>

				<div class="integrante1">
					<img src="/public/img/imagens/mura.png" alt="" class="equipe">
					<p>Felipe Murakami</p>
					<div class="redes">
						<a href="https://www.linkedin.com/in/felipe-murakami-979749286/" target="_blank" class="linkRede">
							<img src="/public/img/imagens/linke.png" alt="" class="img_Linke">
						</a>
						<a href="https://www.instagram.com/felipemurakami1/" target="_blank" class="linkRede">
							<img src="/public/img/imagens/instagram.png" alt="" class="img_Insta">
						</a>
					</div>
				</div>

				<div class="integrante1">
					<img src="/public/img/imagens/cheddar.png" alt="" class="equipe">
					<p>Eshley Maria Silva</p>
					<div class="redes">
						<a href="https://www.linkedin.com/in/eshley-maria-silva-441692265/" target="_blank" class="linkRede">
							<img src="/public/img/imagens/linke.png" alt="" class="img_Linke">
						</a>
						<a href="https://www.instagram.com/eshleymaria/" target="_blank" class="linkRede">
							<img src="/public/img/imagens/instagram.png" alt="" class="img_Insta">
						</a>
					</div>
				</div>

			</div>
			<div class="limitadorEQ">
				<div class="integrante2">
					<img src="/public/img/imagens/marty.png" alt="" class="equipe">
					<p>Giovanna S. Gomes</p>
					<div class="redes">
						<a href="https://www.linkedin.com/in/giovanna-souza-gomes-594b0625a/" target="_blank" class="linkRede">
							<img src="/public/img/imagens/linke.png" alt="" class="img_Linke">
						</a>
						<a href="https://www.instagram.com/_gio_gomes/" target="_blank" class="linkRede">
							<img src="/public/img/imagens/instagram.png" alt="" class="img_Insta">
						</a>
					</div>
				</div>

				<div class="integrante2">
					<img src="/public/img/imagens/jaomaseta.png" alt="" class="equipe">
					<p>João Pedro Mascena</p>
					<div class="redes">
						<a href="https://www.linkedin.com/in/mascenaa/" target="_blank" class="linkRede">
							<img src="/public/img/imagens/linke.png" alt="" class="img_Linke">
						</a>
						<a href="https://www.instagram.com/joaomscn/" target="_blank" class="linkRede">
							<img src="/public/img/imagens/instagram.png" alt="" class="img_Insta">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>